
/* NAVIGATION */
.header-section .header-navigation .forceCommunityGlobalNavigation {
    background-color: transparent;
    padding-left: 40px;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .comm-navigation__list {
    gap: 40px;
}
.header-section .header-navigation .forceCommunityGlobalNavigation > .slds-grid {
    padding: 0;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list__item a,
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list__item button {
    font: 16px/22px 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2C2E34;
    padding: 14px 0;
    position: relative;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_horizontal .slds-list__item button,
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_horizontal .slds-list__item a:hover,
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_horizontal .slds-list__item button:hover {
    background-color: transparent!important;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_horizontal .slds-list__item button:focus {
    box-shadow: none;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active {
    border-bottom: none;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list__item a:hover::before,
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #EF373E;
    border-radius: 1px;
}
/* nav dropdown */
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_vertical {
    background: #fff;
    top: calc(100% + 31px);
    border: 1px solid #BEB9BB;
    border-top: none;
    border-radius: 0px 0px 10px 10px!important;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_vertical .slds-list__item a {
    padding: 15px!important;
    border-bottom: 1px solid #BEB9BB;
    background-color: transparent;
    border-top: 0 none!important;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_vertical .slds-list__item:last-child a {
    border-bottom: none;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_vertical .slds-list__item a::before {
    display: none;
}
.header-section .header-navigation .forceCommunityGlobalNavigation .slds-list_vertical .slds-list__item a:hover {
    color: #EF373E;
}

/* MOBILE NAVIGATION */
.header-section .header-navigation .forceCommunityGlobalNavigation .comm-navigation__navigation-trigger lightning-button-icon {
    color: #ABACAC;
}